:root {
  --DarkBlack: #282828 !important;
  --DarkRed: #cc241d !important;
  --DarkGreen: #98971a !important;
  --DarkYellow: #d79921 !important;
  --DarkBlue: #458588 !important;
  --DarkPurple: #b16286 !important;
  --DarkAqua: #689d6a !important;
  --DarkWhite: #a89984 !important;
  --DarkOrange: #d65d0e !important;

  --BrightBlack: #928374 !important;
  --BrightRed: #fb4934 !important;
  --BrightGreen: #b8bb26 !important;
  --BrightYellow: #fabd2f !important;
  --BrightBlue: #83a598 !important;
  --BrightPurple: #d3869b !important;
  --BrightAqua: #8ec07c !important;
  --BrightWhite: #ebdbb2 !important;
  --BrightOrange: #fe8019 !important;
  
  --LightGray: var(--DarkWhite) !important;
  --DarkGray: var(--BrightBlack) !important;
  
  --gray: var(--BrightBlack) !important;
  
  --bg: var(--DarkBlack) !important;
  --fg: var(--BrightWhite) !important;
  
  --bg0_h: #1d2021 !important;
  --bg0_s: #32302f !important;
  --bg0: var(--DarkBlack) !important;
  --bg1: #3c3836 !important;
  --bg2: #504945 !important;
  --bg3: #665c54 !important;
  --bg4: #7c6f64 !important;
  
  --bg-rgb: 40, 40, 40 !important;
  --bg0_h-rgb: 29, 32, 33 !important;
  --bg0_s-rgb: 50, 48, 47 !important;
  --bg0-rgb: var(--bg-rgb) !important;
  --bg1-rgb: 60, 56, 54 !important;
  --bg2-rgb: 80, 73, 69 !important;
  --bg3-rgb: 102, 92, 84 !important;
  --bg4-rgb: 124, 111, 100 !important;
  --gray-rgb: 146, 131, 116 !important;
  
  --fg0: #fbf1c7 !important;
  --fg1: var(--BrightWhite) !important;
  --fg2: #d5c4a1 !important;
  --fg3: #bdae93 !important;
  --fg4: var(--DarkWhite) !important;
  
  --black: var(--DarkBlack) !important;
  --red: var(--BrightRed) !important;
  --green: var(--BrightGreen) !important;
  --yellow: var(--BrightYellow) !important;
  --blue: var(--BrightBlue) !important;
  --purple: var(--BrightPurple) !important;
  --aqua: var(--BrightAqua) !important;
  --white: var(--BrightWhite) !important;
  --orange: var(--BrightOrange) !important;
}
